# General undesirables
.DS_Store
*.pyc
__pycache__/

# Project directories
env/
data/personal/
docs/reminders/
script/*

# Package directories
/build
/dist
*.egg-info/

# Exceptions
!script/generate_sample_texts.py